.blog{
    margin: 30px ;
    padding: 30px;
    display: grid;
    grid-template-columns: 8fr 4fr;
}
.blog-left, .blog-right{
    padding: 30px;
}
.blog p{
       color: #9F9F9F;
       font-size: 14px;
       text-align: justify;
}

.next{
    padding: 0 0 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-decoration: none;
}
.div{

    padding: 10px 15px;
    background-color: #F9F1E7;
    border-radius: 5px;

}
.div1{
    background-color: #B88E2F;
    color: white;
}






.icon{
    display: flex;
    gap: 10px;
}
.icon img{
    height: 15px;
}
.img{
    width: 700px;
    height: 400px;
}

/* right part  */

.blog-right{
    padding: 0 30px;
}

.Categories{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;

}
.posts{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    text-decoration: none;
}

